.graphics-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 20px;
    background-color: var(--primary_color);
    align-items: center;
    border-radius: 2rem;
}

.graphic {
    width: 35rem;
    height: 20rem;
    background-color: var(--white);
    border-radius: 2rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}