.graphics-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 20px;
    background-color: #f5f5f5;
    align-items: center;
}

.graphic {
    width: 25rem;
    height: 18rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}