#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
    --white: #ffffff;
    --primary_color: #eaf7f7;
    --pastel_green: #75cac0;
    --pastel_red: #dd5f69;
    --black: #000000;
    --filter: #d4eeea;
}
